<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="PolicyBasedServer">
  <Appenders>
    <RollingRandomAccessFile name="System" fileName="${sys:PS_LOG}//${sys:PS_INS}_systemLog.log" filePattern="${sys:PS_LOG}//${sys:PS_INS}_system-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="true" append="true" ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
            <SizeBasedTriggeringPolicy size="4 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="500"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="Process" fileName="${sys:PS_LOG}//${sys:PS_INS}_processLog.log" filePattern="${sys:PS_LOG}//${sys:PS_INS}_process-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="true" append="true" ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d{HH:mm:ss} %p %C{1}.%M %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
            <SizeBasedTriggeringPolicy size="4 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="500"/>
    </RollingRandomAccessFile>
        <RollingRandomAccessFile name="Service" fileName="${sys:PS_LOG}//${sys:PS_INS}_serviceLog.log" filePattern="${sys:PS_LOG}//${sys:PS_INS}_service-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="true" append="true" ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
            <SizeBasedTriggeringPolicy size="4 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="500"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="Exception" fileName="${sys:PS_LOG}//${sys:PS_INS}_errorLog.log" filePattern="${sys:PS_LOG}//${sys:PS_INS}_exception-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="true" append="true" ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
            <SizeBasedTriggeringPolicy size="4 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="500"/>
    </RollingRandomAccessFile>

    <Async name="System_Log" includeLocation="true">
        <AppenderRef ref="System" />
    </Async>
    <Async name="Process_Log" includeLocation="true">
        <AppenderRef ref="Process" />
    </Async>
    <Async name="Service_Log" includeLocation="true">
        <AppenderRef ref="Service" />
    </Async>
    <Async name="Exception_Log" includeLocation="true">
        <AppenderRef ref="Exception" />
    </Async>

  </Appenders>

  <Loggers>
    <Logger name="system" level="info" additivity="false">
        <AppenderRef ref="System_Log"/>
    </Logger>
    <Logger name="process" level="debug" additivity="false">
        <AppenderRef ref="Process_Log"/>
    </Logger>
    <Logger name="service" level="info" additivity="false">
        <AppenderRef ref="Service_Log"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Exception_Log"/>
    </Root>
  </Loggers>
</Configuration>
